<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string></string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Este app usa seu identificador para oferecer anúncios mais relevantes.</string>
    <key>CFBundleExecutable</key>
    <string></string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Este aplicativo precisa de acesso à sua localização para detectar beacons próximos.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Este aplicativo precisa de acesso à sua localização para detectar beacons próximos mesmo em segundo plano.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Este aplicativo precisa de acesso à sua localização para detectar beacons próximos.</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>location</string>
        <string>processing</string>
    </array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Este app usa Bluetooth para localizar dispositivos próximos.</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    <key>UISceneStoryboardFile</key>
                    <string>Main</string>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>
